

.resultGroup {
    flex-grow: 2;
}

.separator {
    border-bottom: 1px solid $primaryColor;
}

.resultTitle {
    font-size: 1.5em;
    color: $primaryColor;
    margin-bottom: 20px;  
}

.foodItem {
    font-weight: 600;
    font-size: .85em;
    margin-top: 15px;
}

.foodStat {
    font-weight: 300;
    font-size: .9em;
    padding-bottom: 15px;
    margin: 5px 0 0;
}
