

.resultGroup {
    flex-grow: 2;
    padding: 10px 0;
}

.separator {
    width: 97%;
    border-top: 1px solid $primaryColor;
}

.resultTitle {
    font-size: 1.5em;
    color: $primaryColor;
    margin-bottom: 20px;  
}

/*  Sugar stats that appear in search results tray and in the log container on the dashboard and landing page  */
.logEntry {
    margin-top: 10px;
    border-top: 1px solid $primaryColor;
}

.itemEntry {
    flex-grow: 1;
    width: 20%;
    padding-right: 10px;
}

.foodItem {
    font-weight: 300;
    font-size: .9em;
    margin-top: 0px;
    padding: 10px 0 5px;
}

.foodStat {
    font-weight: 600;
    font-size: .85em;
    margin: 5px 0 0;   
}

/*  total sugr counter styles for center column on dashboard  */

.statContainer {  /*  This holds sugar number and benchmark (ie. 23g/25g ) and positions the group in the well */
    position: relative;
    top: 25px;
    height: 175px;
}

.intakeWrapper {   /*  This position users sugar in-take number right justified in relation to the (/25g) benchmark numbers */
    position: absolute;
    top: 0px;
    left: 15px;
    width: 50%;
    height: 10px;
}

.sugrIntake {
    font: $fontLogo;
    font-size: 5.25em;
    color: $primaryColor;
    text-align: right;
}

.sugrDivide {
    height: 10px;
    width: 175px;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translateY(-50%);
    transform: rotate(135deg); 
    border-bottom: 1px solid $tertiaryColor;
}

.sugrBenchmrk {
    font: $fontLogo;
    font-size: 5.25em;
    color: $tertiaryColor;
    position: absolute;
    top: 30%;
    left: 60%;
}

.smlGram {
    font-size: .7em;
}

#reactgooglegraph-1 {
    background-color: transparent;
    position: relative;
    top: -25px;
}
