/* -- sign in modal window -- */

@mixin background-opacity($color, $opacity: 1) {
    background: $color;
    /* The Fallback */
    background: rgba($color, $opacity);
}


/* modal sign-up window*/
.modalForm {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include background-opacity(black, 0.75);
}

/* modal inputs */
.modalContent {
    box-sizing: border-box;
    background-color: $modalBG;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px 3% 20px;
    max-width: 510px;
}

.inputWrapper {
    margin-bottom: 30px;
}



/* The Close Button (x) upper right corner*/
.xClose {
    position: absolute;
    right: 20px;
    top: 10px;
    color: $secondaryColor;
    font-size: 1.7em;

    &:hover,
    &:focus {
        color: $primaryColor;
        cursor: pointer;
    }
}

.welcome h1 {
    font: $fontLogo;
    font-size: 4em;
    color: $primaryColor;
    margin-bottom: 20px;
}

.errDisplay {
    background-color: $ErrorColor;
    font: $formFont;
    color: $modalBG;
    border: 1px solid $ErrorColor;
    padding: 10px 20px 10px;
    margin-bottom: 20px;
    position: relative;

    &:before {
        content: 'Attention: ';
    }
}

.dividerOr {
    text-align: center;
    margin: 30px 0;
    color: $secondaryColor;
    font-size: .8em;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 45%;
        top: 9px;
        border-bottom: 1px solid $secondaryColor;
    }

    &:after {
        right: 0;
    }
}