/* -- Sass varaible declaration -- */

/* -- $Typography -- */
$fontBody: 300 1em 'Playfair Display', serif;

$fontLogo: 400 10em 'Playfair Display', serif;

$formFont: 400 1em 'Monserrat', sans-serif;


/* -- $color -- */

$primaryColor: #FFAB91;

$secondaryColor: #999;

$bgColor: #F4F4F4;

$modalBG: white;

$ErrorColor: red;



/* -- $breakpoints -- */

$bpMobile: 600px;

$bpTablet: 768px;




// Orange :  #FFCCBA 
// MDC orange: #FFAB91 // deepOrange200
// MDC #FF8A80 // redA100


// Green: #00887A 
// MDC orange: #004D40 // teal900

// Dark Blue : #77A6F7 
// MDC #90CAF9 // blue200

// Light Blue: #D3E3FC 
// MDC  #BBDEFB // blue100


// Gray: #F5F5F5 
// MDC #F5F5F5 // grey100