html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, input, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -- Sass varaible declaration -- */
/* -- $Typography -- */
/* -- $color -- */
/* -- $breakpoints -- */
body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font: 300 1em "Playfair Display", serif;
  background-color: #eeeeee; }

.headWrapper, .headWrapperMain, .headWrapperDashBrd {
  padding: 10px 20px 10px;
  display: flex;
  align-items: center;
  background-color: white; }

.headWrapperMain {
  justify-content: flex-end; }

.headWrapperDashBrd {
  justify-content: space-between; }

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; }

.searchWrapper {
  width: 75%;
  margin: 0 auto;
  margin-top: 120px; }

.bgImage {
  width: 750px;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  top: 60px;
  left: 50%;
  transform: translatex(-50%); }

.logo {
  text-align: center;
  font: 400 10em "Playfair Display", serif;
  margin-bottom: 25px; }

.searchBar {
  display: flex;
  height: 60px;
  border: 1px solid #90CAF9;
  border-radius: 5px;
  overflow: hidden; }

/*  universal input field styles on all forms */
input {
  width: 100%;
  padding-left: 20px;
  color: #FF8A80 !important; }
  input::placeholder {
    font: 300 1em "Monserrat", sans-serif;
    font-style: italic;
    color: #afafaf; }
  input:placeholder-shown {
    border: 2px solid #90CAF9; }

/*. Unversal button style for all pages and forms*/
button, input {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 10px;
  font: 300 1em "Monserrat", sans-serif;
  line-height: 1.7;
  color: #fff;
  display: block;
  background-color: transparent;
  border-style: none;
  outline: none;
  position: relative;
  overflow: hidden;
  text-align: left;
  cursor: pointer; }
  button:hover, input:hover {
    color: #90CAF9; }

.navLabel button, .navLabel input {
  font: 300 1em "Monserrat", sans-serif;
  color: #FF8A80;
  height: 40px; }
  .navLabel button:hover, .navLabel input:hover {
    color: #afafaf; }

.navLabel li {
  padding-right: 15px; }
.navLabel a {
  font: 300 1em "Monserrat", sans-serif;
  color: #FF8A80;
  height: 40px;
  text-decoration: none; }
  .navLabel a:hover {
    color: #afafaf; }

.display {
  display: flex; }

.btnSearch {
  float: right;
  width: 50px; }

.embed-submit-field {
  position: relative; }
  .embed-submit-field button, .embed-submit-field input {
    position: absolute;
    right: 10px;
    top: 7px; }
    .embed-submit-field button:hover, .embed-submit-field input:hover {
      background-color: #37C88D;
      color: #fff;
      cursor: pointer; }

.resultGroup {
  flex-grow: 2; }

.separator {
  border-bottom: 1px solid #FF8A80; }

.resultTitle {
  font-size: 1.5em;
  color: #FF8A80;
  margin-bottom: 20px; }

.foodItem {
  font-weight: 600;
  font-size: .85em;
  margin-top: 15px; }

.foodStat {
  font-weight: 300;
  font-size: .9em;
  padding-bottom: 15px;
  margin: 5px 0 0; }

.dashLogo {
  font-size: 2em; }

/* === Search bar style === */
.dashBrdSearch {
  width: 75%;
  margin: 0 auto;
  margin-top: 110px;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden; }

/* === Search-results display container under search bar see _displayResults.scss forcontent style === */
.dashBrdresults {
  margin: 0 auto;
  padding-right: 20px;
  overflow: scroll;
  position: relative;
  border: 1px solid #e1e1e1;
  top: -3px;
  z-index: -1;
  transition: max-height ease 0.2s; }

.resultsWrapper {
  height: 250px;
  margin: 0 auto;
  overflow: scroll;
  width: 75%;
  position: relative; }

.resultWell {
  padding: 15px 20px 10px;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.7);
  width: 100%;
  margin: 0 auto;
  left: 0;
  font: 300 1em "Monserrat", sans-serif;
  border-radius: 0 0 5px 5px; }

.addBtn {
  font-size: .75em;
  padding: 2px 5px 3px;
  height: 30px;
  background-color: #FF8A80;
  border-radius: 5px;
  box-sizing: border-box; }
  .addBtn:hover, .addBtn:focus {
    color: #ff5b4d;
    cursor: pointer; }

/* === The Close Button (x) upper right corner === */
.xResultsClose {
  position: fixed;
  z-index: 10;
  right: 20px;
  top: 65px;
  color: #90CAF9;
  font-size: 1.7em; }
  .xResultsClose:hover, .xResultsClose:focus {
    color: #FF8A80;
    cursor: pointer; }

/* === Page separator === */
.dividerToday {
  text-align: center;
  margin: 15px 0 20px;
  color: #90CAF9;
  font-size: 3em;
  position: relative;
  top: 130px; }
  .dividerToday:before, .dividerToday:after {
    content: '';
    position: absolute;
    display: block;
    width: 40%;
    top: 33px;
    border-bottom: 1px solid #90CAF9; }
  .dividerToday:after {
    right: 0; }

/* === Lower half page reporting conatiners on search selections see _displayResults.scss for content style === */
.reportContainer {
  position: relative;
  top: 130px;
  font: 300 1em "Monserrat", sans-serif; }

.reportWell, .ResultLogWell, .sugrShamerWell, .chartWell {
  padding: 7px 15px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  flex-basis: 32%;
  height: 200px;
  position: relative; }

.ResultLogWell {
  overflow: scroll; }

.downArrow {
  position: absolute;
  z-index: 20;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  border: 5px solid #ffe8e6; }

/* -- sign in modal window -- */
/* modal sign-up window*/
.modalForm {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.75); }

/* modal inputs */
.modalContent {
  box-sizing: border-box;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px 3% 20px;
  max-width: 510px; }

.inputWrapper {
  margin-bottom: 30px; }

/* The Close Button (x) upper right corner*/
.xClose {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 10px;
  color: #90CAF9;
  font-size: 1.7em; }
  .xClose:hover, .xClose:focus {
    color: #FF8A80;
    cursor: pointer; }

.welcome h1 {
  font: 400 10em "Playfair Display", serif;
  font-size: 3.65em;
  color: #FF8A80;
  margin-bottom: 20px; }

.errDisplay {
  background-color: red;
  font: 300 1em "Monserrat", sans-serif;
  color: white;
  border: 1px solid red;
  padding: 10px 20px 10px;
  margin-bottom: 20px;
  position: relative; }
  .errDisplay:before {
    content: 'Attention: '; }

.dividerOr {
  text-align: center;
  margin: 20px 0;
  color: #90CAF9;
  font-size: .8em;
  position: relative; }
  .dividerOr:before, .dividerOr:after {
    content: '';
    position: absolute;
    display: block;
    width: 45%;
    top: 9px;
    border-bottom: 1px solid #90CAF9; }
  .dividerOr:after {
    right: 0; }

/*-- Responsive breakpoints --*/
@media screen and (min-width: 1001px) {
  .modalContent {
    padding-bottom: 50px; }

  .bgImage {
    width: 915px; }

  .logo {
    margin-bottom: 50px;
    font-size: 15em; }

  .searchWrapper {
    margin-top: 110px; }

  .resultsWrapper {
    height: 200px;
    overflow: scroll; } }
@media screen and (min-width: 725px) and (max-width: 1000px) {
  .modalContent {
    width: 67%;
    padding-bottom: 40px; }

  .searchWrapper {
    margin-top: 120px;
    width: 615px; }

  .dashBrdSearch {
    width: 615px; }

  .resultsWrapper {
    width: 615px; } }
@media screen and (min-width: 601px) and (max-width: 724px) {
  .modalContent {
    width: 70%;
    padding-bottom: 40px; }

  .searchWrapper {
    margin-top: 120px;
    width: 615px; }

  .dashBrdSearch {
    width: 615px; }

  .resultsWrapper {
    width: 615px; }

  .welcome h1 {
    font-size: 3.45em; } }
@media screen and (max-width: 600px) {
  .logo {
    font-size: 7.7em; }

  .headWrapper, .headWrapperMain, .headWrapperDashBrd {
    padding: 6px 10px; }

  .bgImage {
    width: 500px;
    top: 40px; }

  .searchWrapper {
    margin-top: 90px;
    width: 90%; }

  .resultsWrapper {
    width: 90%;
    height: 180px; }

  .searchBar {
    height: 45px; }

  .dashBrdSearch {
    width: 90%; }

  .welcome h1 {
    font-size: 2.9em;
    margin-bottom: 0; }

  /* -- material-ui button style for type -- */
  Button.div.span {
    padding: 0; }

  /* -------------------------------------- */
  .modalContent {
    width: 90%;
    padding-top: 30px; }

  .titleText {
    font-size: 1.7em; }

  .boxStyle {
    margin-bottom: 15px; } }
/*@media screen and (max-width: 460px) {
    .modalContent {
        width: 90%;
    }
}*/

/*# sourceMappingURL=index.css.map */
