html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* -- Sass varaible declaration -- */
/* -- $Typography -- */
/* -- $color -- */
/* -- $breakpoints -- */
body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font: 300 1em "Playfair Display", serif;
  background-color: #eeeeee; }

.headWrapper {
  padding: 10px 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.background {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px; }

.col-3 {
  margin-right: 10px; }
  .col-3:last-child {
    margin-right: 0; }

.flexSize {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.flexSize1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.bgImage {
  position: absolute;
  left: 0;
  z-index: -1; }

/*  universal input field styles on all forms */
input {
  border-bottom: 1px solid #FFAB91;
  color: #FFAB91 !important;
  /* -- adds input field name to top of field test -- */ }
  input::-webkit-input-placeholder {
    font: 400 1em "Monserrat", sans-serif;
    color: #999; }
  input:-ms-input-placeholder {
    font: 400 1em "Monserrat", sans-serif;
    color: #999; }
  input::placeholder {
    font: 400 1em "Monserrat", sans-serif;
    color: #999; }
  input:placeholder-shown + label {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  input:focus {
    outline: none;
    border-color: #fff; }

label {
  font: 400 1em "Monserrat", sans-serif;
  color: #999;
  background-color: white;
  border: 1px solid #FFAB91;
  position: absolute;
  top: 0;
  opacity: 1;
  padding: 0 5px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translateY(calc(-50% - 1px));
          transform: translateY(calc(-50% - 1px)); }

/*. Unversal button style for all pages and forms*/
button, input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border-style: none;
  outline: none;
  font: 400 1em "Monserrat", sans-serif;
  line-height: 1.7;
  color: #fff;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: left;
  cursor: pointer; }

button:hover, input:hover {
  color: #999; }

.navLabel button, .navLabel input {
  font: 400 1em "Monserrat", sans-serif;
  color: #FFAB91;
  height: 40px; }
  .navLabel button:hover, .navLabel input:hover {
    color: #999; }

.btnLabel {
  font: 400 1em "Monserrat", sans-serif; }

.Btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #999;
  background-color: #999;
  margin-bottom: 10px;
  overflow: hidden; }

/*  this hides and shows login status  */
.logContainer {
  display: none; }

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* icons for hover states */
.icon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 20px;
  height: 17px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4); }

.iconDown {
  z-index: 10;
  top: 0px; }

.titleText {
  font-size: 2.3em;
  line-height: 1.25;
  color: #999;
  margin-bottom: 25px; }

.logo {
  text-align: center;
  margin-bottom: 25px;
  font: 400 10em "Playfair Display", serif; }

.searchWrapper {
  width: 85%;
  margin: 0 auto; }

.btnSearch {
  float: right;
  width: 50px; }

.embed-submit-field {
  position: relative; }
  .embed-submit-field input {
    width: 100%;
    padding: 15px; }
  .embed-submit-field button, .embed-submit-field input {
    position: absolute;
    right: 10px;
    top: 7px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: #ededed;
    border-radius: 3px;
    padding: 10px;
    -webkit-transition: all .2s;
    transition: all .2s; }
    .embed-submit-field button:hover, .embed-submit-field input:hover {
      background-color: #37C88D;
      color: #fff;
      cursor: pointer; }

/*-- Responsive breakpoints --*/
@media screen and (min-width: 725px) and (max-width: 1000px) {
  .modalContent {
    width: 65%; } }
@media screen and (min-width: 601px) and (max-width: 724px) {
  .modalContent {
    width: 70%; } }
@media screen and (max-width: 600px) {
  .logo {
    font-size: 3.7em; }

  .headWrapper {
    padding: 6px 15px 10px; }

  .SearchWrapper {
    margin-top: 20px;
    width: 90%; }

  .modalContent {
    width: 90%; }

  .titleText {
    font-size: 1.7em; }

  .boxStyle {
    margin-bottom: 15px; }

  .row {
    display: block; } }
/*@media screen and (max-width: 460px) {
    .modalContent {
        width: 90%;
    }
}*/
/* -- sign in modal window -- */
/* modal sign-up window*/
.modalForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.85); }

/* modal inputs */
.inputStyle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #999;
  padding: 10px 2px 10px;
  margin-bottom: 20px;
  position: relative;
  width: 100%; }

.inputWrapper {
  margin-bottom: 60px; }

.boxStyle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFAB91;
  padding: 10px 20px 10px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* for input label position*/
  text-align: center; }

.modalContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  padding: 50px 3% 20px;
  max-width: 510px; }

/* The Close Button (x) upper right corner*/
.xClose {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #999;
  font-size: 1.7em; }
  .xClose:hover, .xClose:focus {
    color: #FFAB91;
    cursor: pointer; }

.welcome h1 {
  text-align: center;
  font: 400 10em "Playfair Display", serif;
  color: #999;
  margin-bottom: 20px; }

.errDisplay {
  background-color: red;
  font: 400 1em "Monserrat", sans-serif;
  color: white;
  border: 1px solid red;
  padding: 10px 20px 10px;
  margin-bottom: 20px;
  position: relative; }
  .errDisplay:before {
    content: 'Attention: '; }

/*.modalIcon {
    position: absolute;
    top: 0;
    left: -500px;
    width: 26px;
    z-index: 10;
    opacity: 0;
}*/
.iconRight {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-transition: all 0.55s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.55s cubic-bezier(0.31, -0.105, 0.43, 1.4); }

.dividerOr {
  text-align: center;
  margin: 30px 0;
  color: #999;
  font-size: .8em;
  position: relative; }
  .dividerOr:before, .dividerOr:after {
    content: '';
    position: absolute;
    display: block;
    width: 45%;
    top: 9px;
    border-bottom: 1px solid #999; }
  .dividerOr:after {
    right: 0; }

/*-- Responsive breakpoints --*/
@media screen and (min-width: 725px) and (max-width: 1000px) {
  .modalContent {
    width: 65%; } }
@media screen and (min-width: 601px) and (max-width: 724px) {
  .modalContent {
    width: 70%; } }
@media screen and (max-width: 600px) {
  .logo {
    font-size: 3.7em; }

  .headWrapper {
    padding: 6px 15px 10px; }

  .SearchWrapper {
    margin-top: 20px;
    width: 90%; }

  .modalContent {
    width: 90%; }

  .titleText {
    font-size: 1.7em; }

  .boxStyle {
    margin-bottom: 15px; }

  .row {
    display: block; } }
/*@media screen and (max-width: 460px) {
    .modalContent {
        width: 90%;
    }
}*/

/*# sourceMappingURL=index.css.map */